<div class="navbar__groups">
  <LinkTo class="navbar__links" @route="home">Home</LinkTo>
  <LinkTo class="navbar__links" @route="admin">Admin</LinkTo>
</div>
<div class="navbar__groups">
  <img class="navbar__image" src="/assets/images/fourth-logo.png" alt="Fourth">
</div>
<div class="navbar__groups">
  <LinkTo class="navbar__links" @route="articles">Articles</LinkTo>
  <LinkTo class="navbar__links" @route="employees">Employees</LinkTo>
</div>
