<div class="intranetapp-dialog">
  <div class="intranetapp-dialog__content">
    <div class="intranetapp-dialog__title">
      {{#if modalTitle}}
        <span class="intranetapp-dialog__title-text">{{modalTitle}}</span>
      {{/if}}
    </div>
    <div class="intranetapp-dialog__description">
      {{yield}}
    </div>
    <div class="intranetapp-dialog__footer">
      <div class="intranetapp-dialog__actions">
        {{#if showCancelBtn}}
          {{button-component btnAction=(action "cancel" employee) btnText=cancelBtnText isModal=true}}
        {{/if}}
        {{#if showOKBtn}}
          {{button-component btnAction=(action "ok" employee) btnText=okBtnText isModal=true}}
        {{/if}}
      </div>
    </div>
  </div>
</div>