.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  margin: 4px;
  padding-bottom: 8px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    color: $gem_blue;
    font-weight: bold;
    margin: 4px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    color: $gem_black;
    font-size: 11px;
    font-style: italic;
    margin: 4px 0px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }
}