.employee-data {
  display: flex;
  flex-direction: row;
  background: #082543;
  color: $gem_gray;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    padding: 8px;
  }

  &__header-image {
    max-height: 20px;
    max-width: 20px;
    margin-right: 10px;
  }

  &__header-text {
    text-transform: capitalize;
  }
  
  &__content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 8px;

  }

  &__content-value {
    padding: 0px;
    margin: 0px;
  }
}