<div class="employee-data__header">
  <img class="employee-data__header-image" src="/assets/images/{{property}}.svg" alt={{property}}>
  <span class="employee-data__header-text">{{propertyTitle}}:</span>
</div>
<div class="employee-data__content">
  <p class="employee-data__content-value">{{get employee property}}</p>
</div>